# =========================
# Build
# =========================
bin/
obj/

# =========================
# User-specific files
# =========================
*.user
*.rsuser
*.suo

# =========================
# Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Visual Studio
# =========================
.vs/

# =========================
# Logs
# =========================
*.log

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# SQLite
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# EF Core
# =========================
*.sqlite
*.sqlite3

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Publish output
# =========================
publish/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# env files
.env*.local